@model cdo.Models.ListLK

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lk-user</title>
</head>
<body>
    <h3>Доступ запрещен</h3>

</body>



</html>
