@using System.Linq

@model cdo.Models.sklad

<!DOCTYPE html>


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser.html"></noscript>
    <title>Комплект</title>
</head>
<body>

    <form method="post" id="formId" name="MainForm" onsubmit="return Check()" asp-controller="User" asp-action="ZayavSaveEdit">


        <div class="panel-body">

            <table>


                <tr>
                    <td style="width: 30%;">Наименование комплекта</td>
                    <td style="width: 70%;">
                        <input type="hidden" asp-for="sk.Id" />
                        <input type="text" asp-for="sk.nazv_komp" />
                    </td>
                </tr>
                <tr>
                    <td>Старый инвентарный номер </td>
                    <td>
                        <input type="text" asp-for="sk.star_inv" />
                    </td>
                </tr>
                <tr>
                    <td>Новый инвентарный номер </td>
                    <td>
                        <input type="text" asp-for="sk.nov_inv" />
                    </td>
                </tr>
                <tr>
                    <td>Балансовая стоимость (руб.)</td>
                    <td>
                        <input type="text" asp-for="sk.stoim" />
                    </td>
                </tr>
                <tr>
                    <td>Дата ввода в эксплуатацию</td>
                    <td>
                        <input type="text" asp-for="sk.data_vvoda_kompl" id="d_vv_e" />
                        <script>
                            dataN = new Date();
                            $(function () {
                                $('#d_vv_e').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    "minDate": "01/01/1970",
                                    "maxDate": dataN,
                                    "autoApply": true,
                                    "applyLabel": "Выбрать",
                                    "cancelLabel": "Отменить",
                                    locale: {
                                        format: 'DD.MM.YYYY',
                                        "firstDay": 1
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td>Дата установки комплекта</td>
                    <td>
                        <input type="text" asp-for="sk.data_ust_o" id="d_ust_o" />
                        <script>
                            $(function () {
                                $('#d_ust_o').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    "minDate": "01/01/1970",
                                    "maxDate": dataN,
                                    "autoApply": true,
                                    "applyLabel": "Выбрать",
                                    "cancelLabel": "Отменить",
                                    locale: {
                                        format: 'DD.MM.YYYY',
                                        "firstDay": 1
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>
                @*<tr>
                        <td>Статус</td>
                        <td>
                            <select id="napr" asp-for="sk.status" class="req">
                                <option value='1'>На складе</option>
                                <option value='0'>У учащихся</option>
                            </select>
                        </td>
                    </tr>*@
                <tr>
                    <td>Закреплен <input type="hidden" asp-for="id_main" /></td>

                    @if (Model.id_main == 0)
                    {
                        <td>
                            <button style=" margin:0; background: url(/assets/icon/icons8-pl.png) no-repeat 11.5px 2px ; background-size: 65%; box-shadow:inset 0 0 0 0px" data-toggle="modal" data-target="#Ist" class="button_del1" id="spisok" value="@Model.sk.Id" form="0"></button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Lk" asp-action="kartochka" asp-route-id="@Model.id_main">Открыть</a>
                            <button style="margin:0; background: url(/assets/icon/icons8-de.png) no-repeat 11.5px 2px ; background-size: 65%; box-shadow:inset 0 0 0 0px" asp-action="SvyazSkladToUserDelete1" asp-route-id="@Model.id_main"></button>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Претензия</td>
                    <td><input type="text" asp-for="sk.pritenz" /></td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td><input type="text" asp-for="sk.prim" /></td>
                </tr>
                <tr>
                    <td>Дата возврата комплекта</td>
                    <td>
                        <input type="text" asp-for="sk.data_vozvr_kompl" id="d_v_k" />
                        <script>
                            $(function () {
                                $('#d_v_k').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    "minDate": "01/01/1980",
                                    "maxDate": dataN,
                                    "autoApply": true,
                                    "applyLabel": "Выбрать",
                                    "cancelLabel": "Отменить",
                                    locale: {
                                        format: 'DD.MM.YYYY',
                                        "firstDay": 1
                                    }
                                });
                            });
                        </script>
                    </td>
                </tr>

            </table>
            <input type="submit" asp-controller="LK" asp-action="SaveKompl" value="Сохранить" style=" background: url('/assets/icon/icons8-save.png')  no-repeat 5px 10px rgba(222, 215, 253, 0.3); background-size: 20%;" />
        </div>
    </form>
    <!-- Modal ist-->
    <div class="modal fade bs-example-modal-lg" id="Ist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Закрепить ребенка</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">


                        <table id="stat"></table>
                        <script>

                            $(".button_del1").click(function () { // задаем функцию при нажатиии на элемент <button>



                                $.ajax({
                                    url: '/Lk/SpisokToSkald/',
                                    type: "POST",
                                    dataType: "json",
                                    success: function (query) {
                                        var tableArr = ['<table>'];

                                        for (i = 0; i < query.length; i++) {

                                            tableArr.push('<tr><td>' + '<a href="/LK/SvyazSkladToUser1?id=' + query[i].id + '&id_s=' + res + '">Закрепить</a></td><td style="width: 40%">' + query[i].mo + '</td><td style="width: 40%">' + query[i].fam + ' ' + query[i].ima + ' ' + query[i].otch + '</td><td style="width: 40%">' + query[i].address_proj + '</td><td style="width: 40%">' + query[i].tel + '</td><td style="width: 40%">' + query[i].fio_rod_zp + '</td><td>' + query[i].status + '</td></tr>');
                                        }
                                        tableArr.push('</table>');
                                        document.getElementById('stat').innerHTML = tableArr.join('\n')
                                    }
                                });

                            });
                            var res;
                            window.addEventListener("DOMContentLoaded", function () {
                                var but = document.querySelectorAll(".button_del1");

                                [].forEach.call(but, function (item) {
                                    item.addEventListener("click", function () {
                                        res = item.value
                                    })
                                })
                            });


                        </script>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
