@model IEnumerable<cdo.Program>
<div>
    Центр дистанционного образования, как структурное подразделение Института развития образования Краснодарского Края, создан в октябре 2009 года на основании приказа департамента образования и науки Краснодарского края № 3255 от 16.10.2009 г. в рамках реализации приоритетного национального проекта «Образование». Центр дистанционного образования — инклюзивно-ориентированное образовательное учреждение, основной задачей которого являлось создание условий для получения качественного образования детьми-инвалидами, обучающимися на дому с использованием дистанционных образовательных технологий.
    С 2013 года центр дистанционного образования расширил свои полномочия и осуществляет сопровождение не только обучения детей-инвалидов, обучающихся на дому, с использованием дистанционных образовательных технологий, но и школьников Краснодарского края.

    Подробнее с нормативной документацией (Положением о центре, Государственными услугами, оказываемыми Центром и Порядком оказания) можно ознакомиться на сайте ГБОУ ИРО Краснодарского края  в разделе "Официальные документы"
</div>

