@model IEnumerable<cdo.Program>




<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Инструкции по проведению аттестации в электронном виде
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                Инструкция
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Решения аттестационной комиссии
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p><strong>Решение от 30.01.2019</strong></p>
                <p><a href="http://attest.iro23.ru/sites/default/files/uvp30.01.19.pdf">Уведомления (приняты)</a></p>
                <p><a href="http://attest.iro23.ru/sites/default/files/uvnp30.01.19.pdf">Уведомления&nbsp;(отказано в приеме)</a></p>
                <hr align=left width=50%>
                <p><strong>Решение от 27.02.2019</strong></p>
                <p><a href="http://attest.iro23.ru/sites/default/files/up27.02.19.pdf">Уведомления (приняты)</a></p>
                <p><a href="http://attest.iro23.ru/sites/default/files/unp27.02.19.pdf">Уведомления&nbsp;(отказано в приеме)</a></p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Полезная информация
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="menu clearfix">
                    <li class="first leaf"><a href="http://iro23.ru/sites/default/files/instrukciya_dlya_pedrabotnika_podayushchego_zayavlenie_na_proved._attest.pdf" title="">Инструкция для педагогического работника, подающего заявление о проведении аттестации</a></li>
                    <li class="leaf"><a href="/kriterii_i_pokazateli_attestacii" title="">Измерительные материалы для оценки профессиональной деятельности педагогических работников организаций Краснодарского края, осуществляющих образовательную деятельность, при проведении аттестации в целях установления квалификационной категории</a></li>
                    <li class="leaf"><a href="http://iro23.ru/sites/default/files/metod._rekomendacii_po_rabote_s_izmerit._materialami_0.pdf" title="">Методические рекомендации по работе с измерительными материалами</a></li>
                    <li class="leaf"><a href="https://www.pdf2go.com/ru/compress-pdf" title="">Сжатие PDF </a></li>
                    <li class="last leaf"><a href="http://attest.iro23.ru/sites/default/files/PDF.pdf" title="">Сжатие PDF инструкция</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>