@using Microsoft.AspNetCore.Authentication.Cookies;
@ViewBag.rl;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap31.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">

    <link rel="stylesheet" href="~/assets/css/main.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/css/daterangepicker.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <link rel="stylesheet" href="~/assets/css/Footer-Dark.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <!-- <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    @*<script src="~/assets/js/src/date.js" charset="utf-8"></script>*@
    <script src="~/assets/js/moment.min.js" charset="utf-8"></script>
    <script src="~/assets/js/daterangepicker.js" charset="utf-8"></script>
    <script src="~/assets/bootstrap/js/bootstrap.js"></script>

    @*<script src="~/assets/bootstrap/js/bootstrap-tooltip.js"></script>*@
    @* <script src="~/assets/js/jquery-1.9.1.min.js" charset="utf-8"></script>*@
    @* <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <title>@ViewData["Title"] ЦДО ИРО</title>

</head>
<body>

    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-top: 11px;padding-right: 7px;padding-bottom: 10px;padding-left: 3px;">
        <div class="container">
            <table style=" border: solid 0px #dbdbdb; margin: 0;    ">
                <tr style=" border: solid 0px #dbdbdb; margin: 0;  background-color: rgba(144, 144, 144, 0.00);">
                    <td style=" border: solid 0px"><span class="navbar-expand-sm"><img class="rounded-circle" asp-controller="Home" asp-action="Index" src="~/assets/img/logo.png" width="60" style="margin-right:40px; margin-left:10px"></span><a class="navbar-brand logo" asp-controller="Home" asp-action="Index">Информационная система учета детей инвалидов</a></td>
                </tr>
                <tr style=" border: solid 0px #dbdbdb; margin: 0;">
                    <td style=" border: solid 0px">
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only sr-only-focusable"><img class="rounded-circle" src="~/assets/img/logo.png" width="60"></span><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse text-left " id="navbarNav">

                            <form method="post" class="navbar" style="margin:initial; display:contents">
                                @*<button type="submit" class="button_nav" style="margin:5px;" asp-controller="Home" asp-action="Index">Главная</button>*@
                                <br />
                                @if (ViewBag.rl != 4 && ViewBag.rl != 7)
                                {
                                    <button type="submit" class="button_nav" style="margin:5px;" asp-controller="lk" asp-action="lk">Личный кабинет</button>
                                    if (ViewBag.rl == 1)
                                    {
                                        <button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Sklad">Склад</button>
                                    }
                                    <br />
                                }
                                else
                                {
                                    <button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Lk">Люди</button>
                                    if (ViewBag.rl == 4 || ViewBag.rl == 1)
                                    {
                                        <button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Sklad">Склад</button>
                                    }
                                    <button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Inter">Интернет</button>
                                    <button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Lk" asp-action="Rem">Ремонт</button>
                                }

                                @*<button type="submit" class="button_nav" style="margin:5px;" asp-controller="Home" asp-action="Info">Информация</button>*@


                                @*<ul class="nav navbar-nav ml  align-items-xl-center">

                                        <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex justify-content-xl-center align-items-xl-center" asp-area="" asp-controller="Home" asp-action="index">Главная</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex justify-content-xl-center align-items-xl-center" asp-area="" asp-controller="Lk" asp-action="lk">Личный кабинет</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link d-xl-flex justify-content-xl-center align-items-xl-center" asp-area="" asp-controller="Home" asp-action="info">Информация</a></li>
                                    </ul>*@

                                @if (User.Identity.IsAuthenticated == false)
                                {
                                    <button type="submit" class="button_nav" style="margin-left:auto;" asp-controller="Account" asp-action="login">Войти</button>
                                    <br />
                                    @*<button type="submit" class="button_nav" style="margin:5px;" asp-area="" asp-controller="Account" asp-action="Register"> Зарегистрироваться</button>*@
                                }
                                else
                                {


                                    @*<button type="submit" class="button" style="margin-left:auto;" asp-controller="User" asp-action="view">Моя учетная запись</button>*@
                                    <br />
                                    <button type="submit" class="button_nav" style="margin-left:auto; " asp-controller="Account" asp-action="Logout"> Выйти</button>

                                }
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </nav>

    <div class="container body-content">
        <br /><br /><br /><br /><br /><br /><br />
        @RenderBody()
        <hr />
    </div>
    <div class="d-print-none">
        <footer style="padding: 2em 0;">
            <div class="container">
                <div class="row">
                    @*<div class="card border-success mb-4 mx-auto" style="max-width: 300px; padding:0;">
                            <!-- Шапка -->
                            <div class="card-header bg-success text-white">
                                Главная
                            </div>
                            <!-- Текстовый контент -->
                            <div class="card-body">

                                <ul>
                                    <li><a href="#">Личный кабинет</a></li>
                                    <li><a href="#">Ответственным МО</a></li>
                                    <li><a href="#">Аттестационная комиссия</a></li>
                                </ul>
                            </div>
                        </div><!-- Конец карточки -->*@
                    @*<div class="col-sm-6 col-md-3 item" style="width: 196px;">
                            <h3>Главная</h3>
                            <ul>
                                <li><a href="#">Личный кабинет</a></li>
                                <li><a href="#">Ответственным МО</a></li>
                                <li><a href="#">Аттестационная комиссия</a></li>
                            </ul>
                        </div>*@
                    @*<div class="col-sm-6 col-md-4 item" style="width: 331px;">
                            <h3>КОНТАКТЫ<br></h3>
                            <p style="font-size: 14px;">
                                Отдел&nbsp;сопровождения процедуры аттестации&nbsp;педагогических работников ГБОУ ИРО КК <br /> Телефон:&nbsp;<b>8(861) 232-17-09 &nbsp;</b> <br />
                                Электронная&nbsp;почта:&nbsp;<a href="mailto:oa@iro23.ru"><b>oa@iro23.ru</b></a><br />
                                Для справок педагогических работников организаций <b>Министерства культуры <br /> </b>Тел:&nbsp;<b>8(861) 224-20-38, 224-88- 60 &nbsp;</b><br />
                                Email:&nbsp;<a href="mailto:att_kumc@mail.ru"><b>att_kumc@mail.ru</b></a><br><br>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 item" style="width: 196px;">
                            <h3>Техническая поддержка</h3>
                            <p style="font-size: 14px;">
                                Информационно-аналитический центр ГБОУ ИРО КК <br />
                                Телефоны: <br /> <b>8(861) 232-39-71</b><br><b> 8(861) 260-27-54</b><br><br>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-4 item" style="width: 196px;">
                            <h3>Полезные ссылки</h3>
                            <ul>
                                <li><a class="a" href="https://www.pdf2go.com/ru/compress-pdf">Сжатие PDF</a></li>
                                <li><a class="a" href="http://attest.iro23.ru/sites/default/files/PDF.pdf">Инструкция сжатия PDF</a></li>

                            </ul>
                        </div>*@

                </div>
                <p class="copyright">© Информационно-аналитический центр ГБОУ ИРО Краснодарского края 2019</p>
            </div>
        </footer>
    </div>


    @RenderSection("Scripts", required: false)

</body>
</html>
