@model cdo.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="heading">
                <h1>Войти</h1>
            </div>






            <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="text-center" style="width: 397px;" asp-anti-forgery="true" method="post">


                <div class="validation" asp-validation-summary="ModelOnly" />
                <div>
                    <div class="form-group">
                        <label asp-for="Email">Введите Email</label>
                        <input type="text" asp-for="Email" />
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Введите пароль</label>
                        <input asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn" />
                    </div>
                </div>








                @*<div class="form-group text-center"><label class="d-xl-flex justify-content-xl-start" for="email">Email</label><input asp-for="Email" class="form-control" type="email" name="email" required="" placeholder="ivanov@mail.ru" autofocus="" inputmode="email" id="email"></div>
                    <div class="form-group"><label class="d-xl-flex justify-content-xl-start" for="message">Пароль</label><input asp-for="Password" class="form-control" type="password" name="pass" required="" id="pass"><a href="#">Забыли пароль</a></div>
                    <div class="form-group d-xl-flex justify-content-xl-center align-items-xl-center"><button asp-controller="Account"  asp-action="Login" class=" text-center d-xl-flex justify-content-xl-center align-items-xl-center" type="submit">Войти</button></div>*@
            </form>

        </div>
    </section>
</main>