
@model Attest.Models.Users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Просмотр пользователя</title>
</head>
<body>

    <form method="get" asp-controller="User" asp-action="View">

        <input type="submit" value="Обновить" asp-controller="User" asp-action="update" asp-route-id="Id" onclick="1" />
        <input type="submit" value="Редактировать" asp-controller="User" asp-action="red" asp-route-id="Id" onclick="1" />
        <table>
            <tr>
                <td>ФИО</td>
                <td>
                    <input type="text" asp-for="FIO" readonly required="required" />
                </td>
            </tr>
            <tr>
                <td>Электронный адрес</td>
                <td>
                    <input type="text" asp-for="Email" readonly required="required" />
                </td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td>
                    <input type="text" asp-for="tel" readonly required="required" />
                </td>
            </tr>
            <tr>
                <td>СНИЛС</td>
                <td>
                    <input type="text" asp-for="Snils" readonly required="required" />
                </td>
            </tr>
            <tr>
                <td>МО</td>
                <td>
                    <input type="text" asp-for="mo" readonly required="required" />
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>

                    <input type="hidden" asp-for="Id" />
                </td>
            </tr>
        </table>
    </form>


</body>
</html>
